<!DOCTYPE html>
<html>
  <head>
    <title>Student Complaint Form</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <style>
      html, body {
      min-height: 100%;
      }
      body, div, form, input, select, p { 
      padding: 0;
      margin: 0;
      outline: none;
      font-family: Roboto, Arial, sans-serif;
      font-size: 14px;
      color: #666;
      line-height: 22px;
      }
      h1 {
      margin: 15px 0;
      font-weight: 400;
      }
      .testbox {
      display: flex;
      justify-content: center;
      align-items: center;
      height: inherit;
      padding: 3px;
      }
      form {
      width: 100%;
      padding: 20px;
      background: #fff;
      box-shadow: 0 2px 5px #ccc; 
      }
      input, select, textarea {
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
      }
      input {
      width: calc(100% - 10px);
      padding: 5px;
      }
      select {
      width: 100%;
      padding: 7px 0;
      background: transparent;
      }
      textarea {
      width: calc(100% - 6px);
      }
      .item {
      position: relative;
      margin: 10px 0;
      }
      .item:hover p, .item:hover i {
      color: #095484;
      }
      input:hover, select:hover, textarea:hover, .preferred-metod label:hover input {
      box-shadow: 0 0 5px 0 #095484;
      }
      .preferred-metod label {
      display: block;
      margin: 5px 0;
      }
      .preferred-metod:hover input {
      box-shadow: none;
      }
      .preferred-metod-item input, .preferred-metod-item span {
      width: auto;
      vertical-align: middle;
      }
      .preferred-metod-item input {
      margin: 0 5px 0 0;
      }
      input[type="date"]::-webkit-inner-spin-button {
      display: none;
      }
      .item i, input[type="date"]::-webkit-calendar-picker-indicator {
      position: absolute;
      font-size: 20px;
      color: #a9a9a9;
      }
      .item i {
      right: 1%;
      top: 30px;
      z-index: 1;
      }
      [type="date"]::-webkit-calendar-picker-indicator {
      right: 0;
      z-index: 2;
      opacity: 0;
      cursor: pointer;
      }
      .btn-block {
      margin-top: 20px;
      text-align: center;
      }
      button {
      width: 150px;
      padding: 10px;
      border: none;      
      -webkit-border-radius: 5px; 
      -moz-border-radius: 5px; 
      border-radius: 5px; 
      background-color: #095484;
      font-size: 16px;
      color: #fff;
      cursor: pointer;
      }
      button:hover {
      background-color: #0666a3;
      }
      @media (min-width: 568px) {
      .name-item, .city-item, .data-item {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      }
      .data-item input {
      width: calc(25% - 20px);
      }
      .city-item, .name-item input {
      width: calc(50% - 20px);
      }
      .city-item select {
      width: calc(50% - 8px);
      }
      }
    </style>

  </head>
  <body>
    <div class="testbox">
       <form action="/agregar" method="POST">
        <h1>BECA ALIMENTARIA</h1>
        <h5>A COMPLETAR POR EL ALUMNO SOLICITANTE</h5>
        <div class="item">
          <p>Nombre Completo</p>
          <div class="name-item">
            <input type="text" name="nombres" placeholder="Apellido" />
            <input type="text" name="apellidos" placeholder="Nombre" />
          </div>
        </div>
        <div class="item">
          <p>DNI</p>
          <input type="number" name="dni"/>
        </div>
        <div class="item">
          <p>CUIL</p>
          <input type="number" name="cuil"/>
        </div>
         <p>Grado y Turno</p>
        <div class="city-item">
            <input type="number" name="grado" placeholder="Numero de grado" />
            <input type="text" name="turno" placeholder="Tarde/mañana" />
          </div>
        <div class="item">
          <p>Fecha de Nacimiento</p>
          <input type="date" name="fecha_nacimiento" required/>
          <i class="fas fa-calendar-alt"></i>
        </div>
        <div class="item">
          <p>Domicilio</p>
          <input type="text" name="domicilio" placeholder="Calle"/>
          <div class="city-item">
            <input type="text" name="localidad" placeholder="Localidad" />
            <input type="text" name="codigo_postal" placeholder="Codigo postal" />
          </div>
            <input type="text" name="nacionalidad" placeholder="Nacionalidad" />
        </div>
        <div class="item">
          <p>Email</p>
          <input type="email" name="email"/>
        </div>
        <div class="item">
          <p>Telefono</p>
          <input type="number" name="telefono"/>
        </div>

         <hr>
        <h5>DATOS DEL GRUPO FAMILIAR</h5>
        <div class="item">
          <p>PADRE</p>
            <div class="name-item">
            <input type="text" name="nombreP" placeholder="Nombre" />
            <input type="text" name="apellidoP" placeholder="Apellido" />
          </div>
          <div class="data-item">
            <input type="number" name="edadP" placeholder="Edad" />
            <input type="text" name="ocupacionP" placeholder="Ocupacion" />
            <input type="text" name="lugarTrabajoP" placeholder="Lugar de trabajo" />
            <input type="number" name="ingresoP" placeholder="Ingresos " />
          </div>
          <div class="preferred-metod-item">
            <label><input type="checkbox" name="conviveP"> <span>¿Convive?</span></label>
          </div>
          
          <hr width=400>
          <p>MADRE</p>
          <div class="name-item">
            <input type="text" name="nombreM" placeholder="Nombre" />
            <input type="text" name="apellidoM" placeholder="Apellido" />
          </div>
          <div class="data-item">
            <input type="number" name="edadM" placeholder="Edad" />
            <input type="text" name="ocupacionM" placeholder="Ocupacion" />
            <input type="text" name="lugarTrabajoM" placeholder="Lugar de trabajo" />
            <input type="number" name="ingresoM" placeholder="Ingresos Netos" />
          </div>          
          <div class="preferred-metod-item">
            <label><input type="checkbox" name="conviveM"> <span>¿Convive?</span></label>
          </div>

        </div>

         <hr>
         <div class="item">
          <p>HERMANOS EDAD ESCOLAR</p>
            <div class="name-item">
            <input type="text" name="nombreH1" placeholder="Nombre" />
            <input type="text" name="apellidoH1" placeholder="Apellido" />
          </div>
          <div class="data-item">
            <input type="number" name="edadH1" placeholder="Edad" />
            <input type="text" name="ocupacionH1" placeholder="Ocupacion" />
            <input type="text" name="escuelaH1" placeholder="Escuela" />
          </div>
          <div class="preferred-metod-item">
            <label><input type="checkbox" name="conviveH1"> <span>¿Convive?</span></label>
          </div>
          <hr width=400>
          <div class="name-item">
            <input type="text" name="nombreH2" placeholder="Nombre" />
            <input type="text" name="apellidoH2" placeholder="Apellido" />
          </div>
          <div class="data-item">
            <input type="number" name="edadH2" placeholder="Edad" />
            <input type="text" name="ocupacionH2" placeholder="Ocupacion" />
            <input type="text" name="escuelaH2" placeholder="Escuela" />
          </div>
          <div class="preferred-metod-item">
            <label><input type="checkbox" name="conviveH2"> <span>¿Convive?</span></label>
          </div>
          <hr width=400>
          <div class="name-item">
            <input type="text" name="nombreH3" placeholder="Nombre" />
            <input type="text" name="apellidoH3" placeholder="Apellido" />
          </div>
          <div class="data-item">
            <input type="number" name="edadH3" placeholder="Edad" />
            <input type="text" name="ocupacionH3" placeholder="Ocupacion" />
            <input type="text" name="escuelaH3" placeholder="Escuela" />
          </div>
          <div class="preferred-metod-item">
            <label><input type="checkbox" name="conviveH3"> <span>¿Convive?</span></label>
          </div>

          <div class="item preferred-metod">
          <p>Antecedentes</p>
          <div class="preferred-metod-item">
            <label><input type="checkbox" name="enfermedadCronica"> <span>¿Algun miembro del grupo familiar sufre de una enfermedad crónica?</span></label>
          </div>
          <p>Diagnóstico</p>
          <textarea rows="3"></textarea>
          <p>Gasto mensual derivado de dicha enfermedad crónica</p>
          <input type="number" name="gastoEnfermedad" />
        </div>
        </div>

        <div class="btn-block">
          <button type="submit" href="/">SEND</button>
        </div>
      </form>
    </div>
  </body>
</html>